<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>9540474771-1nrs5e6b1l43sdvqcoc0mnuf7qdt941p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9540474771-1nrs5e6b1l43sdvqcoc0mnuf7qdt941p</string>
	<key>API_KEY</key>
	<string>AIzaSyBN-7W7gCL9HcjeiX2plnYUAzD4dAd2hg4</string>
	<key>GCM_SENDER_ID</key>
	<string>9540474771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ucweb.seguridadchulucanas</string>
	<key>PROJECT_ID</key>
	<string>proyectochulucanas-89784</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectochulucanas-89784.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:9540474771:ios:3ff7f4bccfac8827</string>
	<key>DATABASE_URL</key>
	<string>https://proyectochulucanas-89784.firebaseio.com</string>
</dict>
</plist>